 <div>
    <table border=1 class='center'>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Rating</th>
        {% if type == "admin": %}
          <th colspan = 2 >Action</th>
        {%endif%}
        {% if type == "others": %}
          <th>Action</th>
        {%endif%}
        
      </tr>
      {% for book in books %}          
      <tr >
        <td><h4>{{book['title']}}</h4></td>
        <td>{{book['author']}}</td>
        <td>{{book['price']}}</td>
        <td>{{book['rating']}}</td>
        {% if type == "admin": %}
          <td><a href>Update</a></td>
          <td><a href>Delete</a></td>
        {%endif%}
        {% if type == "others": %}
        <td><a href>Buy</a></td>
        {%endif%}
      </tr> 
      {% endfor %}
    </table>
  </div>